
.table {
    margin-left: 1rem;
    font-size: 0.8em;
    width: 98%;
}

.thead-dark{
    position: sticky;
    top: 0;
    z-index: 10;
}

.contenedor{
    display: flex;
    align-items: center;
    margin-left: 4rem;
}

.btn{
    cursor: pointer;
    position: relative;
    margin-top: 2rem;
    margin-left: 1rem;
}

a{
    color: gray;
}

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../contabilidad/images/g0R9.gif') 50% 50% no-repeat rgb(0, 0, 0);
    background-size: 25%;
    opacity: .8;
  }
