
.env
test
impuestos/alquileresFranquicias/archivos/
image/gastosTesoreria
tesoreria/assets/uploads
novedades/controller/debug.log
tesoreria/cobranzas/uploads
/vendor
contabilidad/class/log_paso3.txt
tesoreria/cajaDirectores/controller/_debug_log.txt
tesoreria/cobranzas/adjuntos
tesoreria/cobranzas/api/notificaciones.log