
body{
    width: 99%;
    margin: 10px 0 0 10px;
    overflow-x: hidden;
}

table{
    font-size: 0.66em;
}

h2{
    margin: 15px 0 15px 10px;
    font-weight: bold;
}

.table .thead-dark th {
    color: wheat;
    background-color: #343a40;
}

.biHeader{
    font-size: 18px;
}

.form-check-label{
    font-size: 14px;
}

#titleCheck{
    font-weight: bold;
}

#contCheck{
    position: relative;
    margin-left: 5%;
}

#titlePrincipal{
    margin-top: 1.7rem;
}

#btnAmort{
    margin-left: 0.0rem;
}

#amortiza{
    width: 2.5rem;
}

.form-control-s{
    width: 50px;
}

#search{
    margin-top: 2rem;
}

form{
    width: 500px;
}

.form-control-sm{
    width: 150px;
    margin-left: 0;
}

.rubro{
    width: 250px;
}

.btn-group{
    position: relative;
    margin-left: 12rem;
    height: 55px;
    margin-top: 1em;
}

#btnaddrow{
    position: relative;
    margin-left: 97%;
}

.alert-danger{
    margin-top: 0.5rem;
    height:5rem;
}

.contenedor{
    display: flex;
    align-items: center;
}

.select2-search__field{
    font-size: 12px;
}

.select2-results__options {
    font-size: 10.5px;
    width: fit-content;
}

select, input{
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 28px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin-left: 15px;
}